---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: " _", "-" | default: "en" }}" class="no-js">

<head>
    {% include head.html %}
    {% include head/custom.html %}
    <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
</head>

<body
    class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}"
    dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
        {{ content }}
        {% include after-content.html %}
    </div>

    {% if site.search == true %}
    <div class="search-content">
        {% include_cached search/search_form.html %}
    </div>
    {% endif %}

    <div id="footer" class="page__footer">
        <footer>
            {% include footer/custom.html %}
            {% include_cached footer.html %}
        </footer>
    </div>

    {% include scripts.html %}

    <!-- Chatbot Elements -->
    <div class="chatbot-container" id="chatbotContainer">
        <div class="chatbot-header">
            <h4>Sam's Assistant</h4>
            <button class="close-btn" onclick="toggleChatbot()">
                <i class="fas fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="chatbot-messages" id="chatbotMessages"></div>
        <div class="chatbot-input">
            <input type="text" placeholder="Ask me anything" id="chatbot-input-text">
            <button onclick="ask('{{ site.chatbot_api_url }}')">Send</button>
        </div>
    </div>

    <button class="chatbot-button" onclick="toggleChatbot()">
        <i class="fas fa-comment-dots"></i>
    </button>

    <script src="{{ '/assets/js/chatbot.js' | relative_url }}"></script>

</body>

</html>
